html, body {
    background-color: #ffeead;
    color: #ffeead;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: [main-start] 1fr [content-start] 5fr [content-end main-end];
    grid-template-rows: [main-start] 70px [content-start] 400px [content-end] 70px [main-end];
    grid-gap: 3px;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.container > .header {
    background-color: #96ceb4;
    grid-column: main;
}

.container > .menu {
    background-color: #ff6f69;
}

.container > .content {
    background-color: #88d8b0;
    grid-area: content;
}

.container > .footer {
    background-color: #ffcc5c;
    grid-column: main
}